body, h1, p, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: Monospace, sans-serif;
    background-color: #ffd7e9;
    color: #570019;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #dac4f7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav {
    margin-bottom: 20px;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-top: 5px;
}

nav a {
    text-decoration: none;
    color: #191517;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
}
