body, h1, ul, form, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace, sans-serif;
    background-color: #ffd7e9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 500px;
    background: #dac4f7;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    font-size: 24px;
    color: #570019;
    margin-bottom: 20px;
    text-align: center;
}

#todo-form {
    display: flex;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #570019;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #ffd7e9;
    color: #570019;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #FB3982;
    color: #FEF1F6;
}

ul {
    list-style-type: none;
}

li {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li:last-child {
    border-bottom: none;
}

.delete-btn {
    background: #ffd7e9;
    border: none;
    border-radius: 4px;
    color: #570019;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-btn:hover {
    background-color: #FB3982;
    color: #FEF1F6;
}
